body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #e3e3e3;
}
body {
  font: 12px Helvetica, Arial, sans-serif;
}
.welcomeDialog {
  text-align: center;
}
.container {
  width: 100%;
  height: 100%;
}
.header {
  width: 100%;
  height: 70px;
  overflow: hidden;
}
.header > h1 {
  font-size: small;
}
.footer {
  width: 100%;
  height: 90px;
  overflow: hidden;
}
.footer > h1 {
  font-size: small;
}
.leftPanel {
  width: 15%;
}
.rightPanel {
  width: 10%;
}
.centerPanel {
  width: 100%;
}
